<h1>Notification#new_account</h1>

<p>
  <%= @greeting %>, find me in app/views/notification_mailer/new_account.html.erb
</p>
<p>Hello <%= @user.name %>,</p>
<p> your new account is active.</p>
<p> Have a great day! </br>
A Robot </p>
<p>Hello here, this is our image</p>
 
<%= image_tag attachments['rails.jpg'].url, alt: 'My Photo', class: 'photos' %> 